---
import {
  BookTextIcon,
  CircleGaugeIcon,
  GithubIcon,
  PlusIcon
} from "lucide-react"
import { Button } from "../ui/button"
---

<header class="flex bg-background p-3 justify-between">
  <!-- Logo -->
  <h1 class="font-medium flex items-center gap-1.5">
    <CircleGaugeIcon className="w-6 h-6 text-primary" />
    <span>Pentametro</span>
  </h1>

  <!-- Actions -->
  <div class="flex items-center gap-1">
    <!-- Guida -->
    <Button variant={"outline"} size={"sm"} className="h-9">
      <BookTextIcon className="w-5 h-5 mr-1" />
      <span>Guida</span>
    </Button>

    <!-- GitHub -->
    <Button variant={"outline"} size={"sm"} className="h-9">
      <GithubIcon className="w-5 h-5 mr-1" />
      <span>GitHub</span>
    </Button>

    <!-- New Report -->
    <Button variant={"default"} size={"sm"} className="h-9">
      <PlusIcon className="w-5 h-5" />
    </Button>
  </div>
</header>
