---
import "@/styles/globals.css"
import { App } from "@/components/app/app"
import BaseHead from "@/components/layout/base-head.astro"
import { getPentaChecklist } from "@/lib/utils"

const checklist = await getPentaChecklist()
---
<!DOCTYPE html>
<html lang="it" class="light">
  <head>
    <BaseHead title={"Pentametro – Valuta il tuo CV con Guido Penta!"} />
  </head>
  <body>
    {
      checklist 
        ? (<App client:only="react" checklist={checklist} />) 
        : (<p class="p-3">Error! :(</p>)
    }
  </body>
</html>
