---
import "@/styles/globals.css"
---
<html lang="it" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Pentametro</title>
  </head>
  <body class="bg-background flex items-center justify-center h-dvh">
    Welcome to Pentametro!
  </body>
</html>
