---
import "@/styles/globals.css"
import { Button } from "@/components/ui/button"
---
<html lang="it" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Pentametro</title>
  </head>
  <body class="bg-background">
    <Button>pentametro</Button>
    {import.meta.env.OPENAI_API_KEY}
  </body>
</html>
