---
import "@/styles/globals.css"
import { PdfUploader } from "@/components/pdf-uploader"
import { getPentaChecklist } from "@/lib/utils"

const checklist = await getPentaChecklist()
---
<html lang="it" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Pentametro</title>
  </head>
  <body class="bg-background flex flex-col">
    <div>
      <PdfUploader client:only checklist={checklist} />
    </div>
  </body>
</html>
