---
import { cn } from "@/lib/utils"
import { AnnoyedIcon, FrownIcon, LaughIcon } from "lucide-react"

interface Props {
  report: {
    id: string
    compliant: boolean
    comment: string
  }[]
  checklist: {
    category: string
    mandatory: boolean
    checklist: {
      requirement: string
      description: string
    }[]
  }[]
}

const { checklist, report } = Astro.props

const reportMap = Object.fromEntries(report.map((item) => [item.id, item]))

type Status = "compliant" | "non-compliant" | "not-applicable"

const statusColorMap: Record<Status, string> = {
  compliant: "text-green-500",
  "non-compliant": "text-red-500",
  "not-applicable": "text-amber-500"
}
---
<div class="space-y-6">
  {checklist.map((group) => (
    <div class="flex flex-col rounded-xl">
      <h2 class="uppercase px-4 py-1 text-muted-foreground text-sm">{group.category}</h2>
      <ul class="my-1 divide-y">
        {group.checklist.map((item) => {
          const isCompliant = reportMap[item.requirement]?.compliant ?? false
          const status: Status = group.mandatory ? isCompliant ? "compliant" : "non-compliant" : "not-applicable"
          return (
            <li class="bg-background first:rounded-t-xl last:rounded-b-xl flex gap-3">
              <div class="px-4 py-3 pr-0">
                {status === "compliant" && <LaughIcon className={cn("w-6 h-6", statusColorMap[status])} />}
                {status === "non-compliant" && <FrownIcon className={cn("w-6 h-6", statusColorMap[status])} />}
                {status === "not-applicable" && <AnnoyedIcon className={cn("w-6 h-6", statusColorMap[status])} />}
              </div>
              <div class="flex-1 px-4 py-3 pl-0">
                <div class="font-medium">{item.requirement}</div>
                <div class="text-muted-foreground text-sm">{item.description}</div>
                <div class={cn("text-sm", statusColorMap[status])}>
                  {reportMap[item.requirement]?.comment}
                </div>
              </div>
            </li>
          )
        })}
      </ul>
    </div>
  ))}
</div>
